* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: "Playwrite NG Modern", cursive */
}

body {
    background: linear-gradient(90deg, #9796f0, #fbc7d4);
    display: flex;
    justify-content: center;



}

.project_title {
    font-family: "Oswald", sans-serif;

    font-size: 2rem;
    position: absolute;
    top: 0px;
    background-image: url('text.jpg');
    background-clip: text;
    color: transparent;
}

.mainContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

}

.displayWeather {
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 34px #4f0159;
    border-radius: 21px;
    position: relative;
    background-color: wheat;
    z-index: 2;

}

.content1 {
    border-top-left-radius: 21px;
    border-bottom-left-radius: 21px;
    height: 436px;
    width: 50vw;
    background: linear-gradient(90deg, #e03cfc, #8ec5fc);

}

.content2 {
    height: 436px;
    width: 311px;
    border-top-right-radius: 21px;
    border-bottom-right-radius: 21px;

    background: linear-gradient(40deg, #a8edea, #fed6ea);


}

.tempUnit {
    display: flex;
    float: right;
    margin: 10px;
    background: linear-gradient(rgba(255, 255, 255, .21), rgba(245, 222, 179, .1));
    border-radius: 11px;


}

.tempUnit button {
    border-radius: 11px;
    background-color: transparent;
    padding: 2px 8px 3px 8px;
    border-width: 0px;
    border-color: #d896f0;
}

#celcius:hover,
#farheneit:hover {
    background-color:
        rgba(245, 245, 245, .6);
    /* border-top-right-radius: 8px;
    border-bottom-right-radius: 8px; */

}

.currentDayTemp {
    margin: 10px 10px 10px 17px;
    font-size: 2.6rem;
    position: relative;
    top: 1vh;
    color: whitesmoke;
    text-shadow: 0px 0px 10px black;
}

.superscript {
    opacity: .8;
    font-size: 1.4rem;

}

#icon {
    position: relative;
    top: 11px;
    width: 60px;
    object-fit: contain;
    left: 10px;

}

.weatherDetails {
    display: flex;
    justify-content: flex-start
}

#weatherIcon {
    width: 18px;
}

.weatherDetails div {
    padding: 16px 10px 10px 16px;
    font-size: .8rem;
    color: whitesmoke;
    text-shadow: 0 0 8px black;
}

.currentDate {
    margin: 0px 10px 10px 16px;
    color: whitesmoke;
    text-shadow: 0 0 8px black;


}

.nextDay {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 40%;
}

::-webkit-scrollbar {
    display: none;
}

.nextDayDetails {
    width: 460px;
    display: flex;
    justify-content: flex-start;
}

.nextDaysContainer {
    height: 120px;
    margin-right: 21px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: #d896f0; */
    top: 10vh;
    position: relative;

    top: 7vh;
    left: 3vh;
    border-radius: 10px;
    background: linear-gradient(45deg, #ffecd2, #fcb69f);
}

.nextDaysIcon img {
    width: 52px;
}

#searchIcon {
    width: 22.5px;
    background: #d6d6d6;
    padding: 6px;
    position: relative;
    height: 24px;
    top: 11px;
    left: -1px;
    border-top-right-radius: 10px;
    z-index: 1;
    border-bottom-right-radius: 10px;
    box-shadow: 2px 0 5px rgb(169 168 157);
}

#searchArea {
    padding: 5px;
    margin-left: 5px;
    width: 84%;
    position: relative;
    height: 27px;
    outline: none;
    top: 4px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    text-overflow: ellipsis;
    box-shadow: 0 0 10px rgb(228, 193, 136);
    background-color: transparent;
    border: none;

}

.searchContent {
    width: 37%;
    height: 34vh;
    position: absolute;
    right: 0%;
    top: 9%;
    z-index: 2;
    overflow-y: scroll;

}

.items {
    width: 100%;
    height: 24%;
    background-color: #ebe6eb;
    margin-top: 2px;
    display: flex;
    align-items: center;
    padding: 20px 20px 20px 10px;
    cursor: pointer;
}

.nextDaysTemp sup {
    font-size: .5rem;
    font-weight: bold;
}

.areaName {

    font-size: 1.5rem;
    position: relative;
    left: 12px;

    bottom: 4px;
    color: whitesmoke;
    text-shadow: 0 0 6px blue;
}

.fewdata {
    display: flex;
    position: relative;
    justify-content: center;
    top: 41%;
}


.circledata {
    width: 106px;
    height: 102px;
    background: linear-gradient(90deg, #ffecd2, #fcb69f);
    margin: 21px;
    border-radius: 20px;
    box-shadow: 0 0 8px #fcb69f;
    display: flex;

    justify-content: center;
    align-items: center;
}

.clock {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #ff9555;
    background-image: url('clock.png');
    border: 1px solid black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -21px;
    background-position-y: 3px;

}

.manyClocks {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    top: 25%;
}

.clock2 {
    position: relative;
    bottom: 60px;
}

.hour {
    height: 3px;
    width: 21px;
    background-color: #111116;
    transform-origin: left;
    position: relative;
    left: 50%;
    display: inline-block;
    top: 36.5%;


}

.minute {
    height: 1.7px;
    position: relative;
    left: 19.5%;
    display: inline-block;
    width: 27px;
    background-color: #251c1d;
    transform: rotate(-90deg);
    transform-origin: left;
    top: 36.5%;

}

.second {
    position: relative;
    left: 8%;
    height: 1.1px;

    width: 34px;
    background-color: #d40733;
    display: inline-block;
    transform-origin: right;
    top: 13%;
    transform: rotate(90deg);


}

.bindu {
    position: relative;
    left: 10px;
    position: absolute;

}

.clock h3 {

    position: absolute;
    top: -23px;
    margin-left: 17px;
    font-size: 0.8rem;
}

.ranger {
    height: 74%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 71%;
    border-radius: 50%;
    border: 10px solid peru;
}

.val1 {
    border-top-color: rgba(106, 78, 218, .2);
}

.val2 {
    border-top-color: rgba(106, 78, 218, .2);
    border-right-color: rgba(106, 78, 218, .5);

}

.val3 {
    border-top-color: rgba(106, 78, 218, .2);
    border-right-color: rgba(106, 78, 218, .5);
    border-bottom-color: rgba(106, 78, 218, .7);

}

.val4 {
    border-top-color: rgba(106, 78, 218, .2);
    border-right-color: rgba(106, 78, 218, .5);
    border-bottom-color: rgba(106, 78, 218, .7);
    border-left-color: rgba(106, 78, 218, .9);

}

@media screen and (max-width:650px) {
    .content2 {
        height: 426px;
        position: absolute;
        top: 431px;
        width: 90vw;
        border-radius: 21px;



    }

    .content1 {
        border-radius: 21px;
        width: 90vw;
    }






}